<div class="container2">
  <%= link_to root_path, class: "btn btn-med2" do %>
      <%= image_tag("icon-chevron-left.svg") %>
  <% end %>
  <h3 style="margin-left: 20px; margin-top: 15px;">Nouvelle recherche</h3>
</div>

<h1 class="textfront">Vos rendez-vous</h1>

<section class="cards-container">
  <% @consultations.each do |consultation| %>
    <%= link_to new_consultation_diagnostic_path(consultation), class: "consultation-link" do %>
        <div class="card custom-card2">
          <div class="card-body">
            <div class="consultation-card">
                <div class="consultation-details">
                  <h3><%= consultation.patient.name %></h3>
                  <p class="age"><%= calculate_age(consultation.patient.date_of_birth) %> ans</p>
                </div>
                <p class="time"><%= consultation.starts_at.strftime("%Hh%M") %></p>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</section>

<div class="button-container w-100">
    <%= link_to "Rechercher un patient", patients_path, class: "btn btn-med w-95 mb-4" %>
</div>
