<% patient = @diagnostics.first.patient %>
<% title = patient.gender == "male" ? "M." : "Mme." %>

<div class="container2 " style="border: none;">
    <%= link_to root_path do %>
      <%= image_tag("icon-chevron-left.svg", width: "32px", height: "32px") %>
    <% end %>
    <h3>Résultats pour <%= title %> <%= patient.name %></h3>
  <div><%= image_tag("icon-blank.svg")%></div>
</div>


<section data-controller="diagnostic">
  <% @diagnostics.each_with_index do |diagnostic, index| %>
   <%  doctors = User.where(specialty: diagnostic.specialty).limit(3) %>

    <div class="">
      <div class="card-diagnostic">
        <div class="list-group-item">
          <ul class="list-unstyled">
            <li><h2 class="">Specialité : <%= diagnostic.specialty %></h2></li>
            <li><h6 class="description">Description</h6></li>
            <li><p><%= diagnostic.description %></p></li>
          </ul>
          <div class="button-container input-group">
            <button data-action="click->diagnostic#showdoctors" data-diagnostic-target="picked" class="btn-med btn-container" id="diagnostic-<%= index %>">
              Contacter un spécialiste
            </button>
          </div>

          <div style="display: none" id="diagnostic-<%= index %>" data-diagnostic-target="diagnostic">
            <div class="mt-2 mb-2">
              <H2>Liste des spécialistes</H2>
            </div>
            <ul>
              <% doctors.each do |doctor| %>
                <div class="card-diagnostic-container">
                  <%= link_to new_diagnostic_assignation_path(diagnostic, doctor_id: doctor.id) do %>
                    <div class="diagnostic-specialist-card">
                      <li >
                        <div>
                          <h5>Dr <%= doctor.first_name.capitalize %>
                                 <%= doctor.last_name.capitalize %>
                          </h5>
                          <h6><%= doctor.specialty.capitalize %></h6>
                        </div>
                        <div class="address">
                          <p><%= doctor.address %></p>
                        </div>
                      </li>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
