<% patient = @diagnostics.first.patient %>
<% title = patient.gender == "male" ? "M." : "Mme." %>

<div class="header d-flex justify-content-between align-items-center" style="border: none;">

  <div class="icon" style="margin-left: 10px; margin-bottom: 25px; border: none;">
    <%= link_to root_path do %>
      <%= image_tag("icon-chevron-left.svg", width: "32px", height: "32px") %>
    <% end %>
  </div>

  <div class="text-center flex-grow-1" style="border: none; margin-left: 30px;">
    <h1 style="font-size: 20px; border: none;"><strong>Résultats pour <%= title %> <%= patient.name %></strong></h1>
  </div>

  <div class="icon" style="margin-right: 40px; margin-bottom: 25px; border: none;">
    <%= link_to image_tag("icon-search.svg", width: "32px", height: "32px"), "#" %>
  </div>

</div>

<section data-controller="diagnostic">
  <% @diagnostics.each_with_index do |diagnostic, index| %>
    <%  doctors = User.where(specialty: diagnostic.specialty).limit(3) %>


    <div class="">
      <div class="card-diagnostic">
        <div class="list-group-item">
          <ul class="list-unstyled">
            <li><h2 class="">Specialité : <%= diagnostic.specialty %></h2></li>
            <li><h6>Description</h6></li>
            <li><p><%= diagnostic.description %></p></li>
          </ul>
          <div class="button-container input-group">
            <button data-action="click->diagnostic#showdoctors" data-diagnostic-target="picked" class="btn-med btn-container" id="diagnostic-<%= index %>">
              Choisir ce diagnostic
            </button>
          </div>

          <div style="display: none" id="diagnostic-<%= index %>" data-diagnostic-target="diagnostic">
            <div class="">
              <H2>Liste des spécialistes</H2>
            </div>
            <ul>
              <% doctors.each do |doctor| %>
                <div class="card-diagnostic-container">
                  <%= link_to new_diagnostic_assignation_path(diagnostic, doctor_id: doctor.id) do %>
                    <div class="diagnostic-specialist-card">
                      <li >
                        <div>
                          <h5>Dr <%= doctor.first_name.capitalize %>
                              <%= doctor.last_name.capitalize %>
                          </h5>

                          <h6><%= doctor.specialty.capitalize %></h6>
                        </div>
                        <div class="address">
                          <p><%= doctor.address %></p>
                        </div>
                      </li>
                    </div>
                    <div>
                      <div class=""><h6 class="btn-med btn-container">Choisir ce spécialiste</h6></div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
