<div class="header">
  <div class="icon">
    <%= link_to image_tag("icon-chevron-left.svg", width: "100%", height: "100%"), "#" %>
  </div>
  <div>
    <h2>Recherche de diagnostic</h2>
  </div>
    <div class="icon">
  </div>
</div>

<div class="card-diagnostic">
  <div class="1">
    <h2>Diagnostic</h2>
    <p><%= @diagnostic.description %></p>
    <div class="header-diagnostic">
      <h3>Sélectionner un spécialiste</h3>
    </div>
  </div>

  <ul>
    <% @doctors.each do |doctor| %>
      <%= link_to new_diagnostic_assignation_path(@diagnostic, doctor_id: doctor.id) do %>
        <li class="diagnostic-specialist-card">
          <div>
            <h5>Dr. <%= doctor.first_name.capitalize %></h5>
            <h5><%= doctor.last_name.capitalize %></h5>
            <h6><%= doctor.specialty.capitalize %></h6>
          </div>
            <p><%= doctor.address %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
