 <div class="container2">
   <%= link_to select_diagnostic_path, class: "btn btn-med2" do %>
     <%= image_tag("icon-chevron-left.svg") %>
   <% end %>
   <h3 style="margin-left: 0px; margin-top: 15px;">Recherche de diagnostique</h3>
</div>
<div class="card-diagnostic">
  <div class="1">
    <h2>Diagnostique</h2>
    <p><%= @diagnostic.description %></p>
    <div class="header-diagnostic">
      <h3>Sélectionner un specialiste</h3>
    </div>
  </div>

  <% @doctors.each do |doctor| %>
    <li class="diagnostic-specialist-card">
      <%= link_to new_diagnostic_assignation_path(@diagnostic, doctor_id: doctor.id), style: "text-decoration: none; color: inherit;" do %>
        <div>
          <h5><%= doctor.first_name %></h5>
          <h5><%= doctor.last_name %></h5>
          <h6><%= doctor.specialty %></h6>
        </div>
        <p>
          <%= doctor.address %>
        </p>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
