<div class="container">

  <h1><%= image_tag("Logo.png", width: 275, height: 180) %></h1>

  <p>Pour des diagnostics plus rapides et plus précis!</p>

  <div class="input-group d-flex justify-content-center">
    <div class="form-outline search-container" data-mdb-input-init>
      <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input id="search-input" type="search" class="form-control search-input" placeholder="Rechercher...">
    </div>

    <div class="button-container w-100">
      <div class="button-icon">
        <%= image_tag "icon-echanges-white.svg", width: "100%", height: "100%" %>
      </div>
      <%= link_to "Demande d'avis", "#", class: "btn btn-med text-start w-100" %>
    </div>

    <div class="button-container w-100">
      <div class="button-icon">
        <%= image_tag "icon-dossier-patient-white.svg", width: "100%", height: "100%" %>
      </div>
      <%= link_to "Dossiers patients", "#", class: "btn btn-med text-start w-100" %>
    </div>

  </div>
</div>
