<style>
body {
  background-image: url('<%= asset_path("landing-page.png") %>');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>

<div class="container" style="margin-bottom: 146px;">
  <h1><%= image_tag("logo-nobg-media.png", width: 320, height: 245) %></h1>
  <h4 style="margin-top: 80px;">Diagnostics plus rapides et plus précis avec l'assistant Med-IA!</h4>
  <div class="input-group d-flex justify-content-center" style="margin-top: 80px;">
    <div class="button-container w-100">
      <div class="button-icon">
        <%= image_tag "icon-search-white.svg", width: "100%", height: "100%" %>
      </div>
      <%= link_to "Lancer une recherche", new_diagnostic_path, class: "btn btn-med text-start w-100", style: "font-size: 17px;" %>
    </div>

    <div class="button-container w-100">
      <div class="button-icon">
        <%= image_tag "icon-echanges-white.svg", width: "100%", height: "100%" %>
      </div>
      <%= link_to "Échanges entre médecins", assignations_path, class: "btn btn-med text-start w-100", style: "font-size: 17px;" %>
    </div>

    <div class="button-container w-100">
      <div class="button-icon">
        <%= image_tag "icon-dossier-patient-white.svg", width: "100%", height: "100%" %>
      </div>
      <%= link_to "Dossiers patients", patients_path, class: "btn btn-med text-start w-100", style: "font-size: 17px;" %>
    </div>

  </div>
</div>
