<div class="container2">

  <div class="icon">
    <%= link_to root_path do %>
      <%= image_tag("icon-chevron-left.svg") %>
    <% end %>
  </div>

  <h3>Liste des patients</h3>

  <div class="icon">
    <%= link_to image_tag("icon-search.svg"), "#" %>
  </div>

</div>

<div class="">
  <ul class="list-group list-group-flush" >
    <% @patients.each do |patient| %>
      <li class="list-group-item card-bg">

        <div class="row patient-card">
          <div class="col-8">
            <div class="d-flex flex-column align-items-start ">
              <h5><%= patient.first_name %> <%= patient.last_name %></h5>
              <p class="m-0"><%= patient.date_of_birth %></p>
            </div>
          </div>

          <div class="col-4 d-flex justify-content-end ">
            <div>
              <%= link_to patient_path(patient) do %>
                <button class="btn-small">
                  détails
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
