<div class="header d-flex justify-content-between align-items-center" style="border: none;">

  <div class="icon" style="margin-left: 10px; margin-bottom: 25px; border: none;">
    <%= link_to root_path do %>
      <%= image_tag("icon-chevron-left.svg", width: "32px", height: "32px") %>
    <% end %>
  </div>

  <div class="text-center flex-grow-1" style="border: none; margin-left: 30px;">
    <h1 style="font-size: 20px; border: none;"><strong>Liste des patients</strong></h1>
  </div>

  <div class="icon" style="margin-right: 40px; margin-bottom: 25px; border: none;">
    <%= link_to image_tag("icon-search.svg", width: "32px", height: "32px"), "#" %>
  </div>

</div>

<ul class="list-group list-group-flush margin-top: 10px" >
  <% @patients.each do |patient| %>
    <li class="list-group-item margin-correction">

      <div class="row mt-1 patient-card">
        <div class="col-8">
          <div class="d-flex flex-column align-items-start ">
            <h5><%= patient.first_name %> <%= patient.last_name %></h5>
            <p class="m-0"><%= patient.date_of_birth %></p>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-end ">
          <div>
            <button class="btn-small">
              details
              <% patient_path(patient) %>
            </button>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
