<div class="container2">
  <%= link_to root_path, class: "" do %>
    <%= image_tag("icon-chevron-left.svg") %>
  <% end %>
  <h3>Échanges entre médecins</h3>
  <div></div>
</div>

<section class="cards-container">
  <% @assignations.each do |assignation| %>
    <% doctor = assignation.user %>
    <% diagnostic = assignation.diagnostic %>
    <% consultation = diagnostic.consultation %>
    <% patient = consultation.patient %>

    <%= link_to assignation_path(assignation.id), class: "assignation-link" do %>
      <div class="card custom-card-assignation <%= border_badge_for_status(assignation) %>">
        <div class="card-body">
          <div class="assignation-card">
            <div class="assignation-details">
              <h3>Dr. <%= doctor.first_name.capitalize %> <%= doctor.last_name.capitalize %></h3>
              <h6><%= doctor.specialty.capitalize %></h6>
              <p><strong>Patient : </strong><%= patient.first_name.capitalize %> <%= patient.last_name.capitalize %></p>
              <p><strong>Rendez-vous le </strong><%= consultation.starts_at.strftime("%d/%m/%Y %H:%M") %></p>
            </div>

            <span class="badge <%= color_badge_for_status(assignation) %> status-badge"><%= assignation.status.capitalize %></span>

            <%= image_tag("icon-lettre.svg", width: "100%", height: "100%", class: "assignation-icon") %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</section>
