<div class="container2">
  <%= link_to consultation_diagnostics_path(@diagnostic.consultation), class: "" do %>
    <%= image_tag("icon-chevron-left.svg") %>
  <% end %>
  <h3>Échange entre médecins</h3>
  <div></div>
</div>

<div class="card-diagnostic margin">
  <div class="mb-2">
    <ul class="list-unstyled">
      <li><h2>Specialité : <%= @diagnostic.specialty %></h2></li>
      <li><h6>Description</h6></li>
      <li><p><%= @diagnostic.description %></p></li>
    </ul>
  </div>
  <div class="">
    <h2>Sélectionner un spécialiste</h2>
  </div>


  <ul>
    <li class="diagnostic-specialist-card card-diagnostic-container">
      <div>
        <h5><%= @doctor.first_name.capitalize %></h5>
        <h5><%= @doctor.last_name.capitalize %></h5>
        <h6><%= @doctor.specialty.capitalize %></h6>
      </div>
        <p>
          <%= @doctor.address %>
        </p>
    </li>
  </ul>

  <button type="button" class="btn-med" data-toggle="modal" data-target="#exampleModal">
    Contacter
  </button>

</div>

<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog card-modal" role="document">
    <div class="modal-content radius">
      <div class="modal-header d-flex justify-content-center border-bottom-0">
        <h5 class="modal-title text-center" id="exampleModalLabel">Contacter Dr <%= @doctor.first_name.capitalize %> <%= @doctor.last_name.capitalize %></h5>
      </div>
      <div class="modal-body">
        Le dossier du patient sera partagé avec le spécialiste
      </div>
      <div class="modal-footer d-flex justify-content-around border-top-0">
        <button type="button" class="btn-med" data-dismiss="modal">Annuler</button>
        <div class="m-0 mb-3">
          <%= simple_form_for [@diagnostic, @assignation] do |form| %>
            <%= form.input :doctor_id, as: :hidden, :input_html => { value: @doctor.id } %>
            <%= form.submit 'Contacter', class: 'btn-med'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
