<div class="container2">
  <%= link_to new_diagnostic_assignation_path, class: "btn btn-med2" do %>
    <%= image_tag("icon-chevron-left.svg") %>
  <% end %>
  <h3 style="margin-left: 20px; margin-top: 15px;">Demande d'avis</h3>
</div>

<div class="card-diagnostic">
  <div class="1">
    <h2>Diagnostic</h2>
    <p><%= @diagnostic.description %></p>
    <div class="header-diagnostic">
      <h3>Sélectionner un spécialiste</h3>
    </div>
  </div>

  <ul>
    <li class="diagnostic-specialist-card">
      <div>
        <h5><%= @doctor.first_name.capitalize %></h5>
        <h5><%= @doctor.last_name.capitalize %></h5>
        <h6><%= @doctor.specialty.capitalize %></h6>
      </div>
        <p>
          <%= @doctor.address %>
        </p>
    </li>
  </ul>

  <button type="button" class="btn-med" data-toggle="modal" data-target="#exampleModal">
    Contacter
  </button>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Contacter Dr <%= @doctor.first_name %> <%= @doctor.last_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Le diagnostic du patient sera partagé avec le spécialiste
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-med" data-dismiss="modal">Annuler</button>
        <div class="">
        <%= simple_form_for [@diagnostic, @assignation] do |form| %>
          <%= form.input :doctor_id, as: :hidden, :input_html => { value: @doctor.id } %>
          <%= form.submit 'Contacter', class: 'btn-med' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
