 <div class="container2">
   <%= link_to assignations_path, class: "btn btn-med2" do %>
      <%= image_tag("icon-chevron-left.svg") %>
   <% end %>
  <h1>Nom du patient</h1>
</div>

<div class="d-flex card-assignation-status">
  <div>
    <p><strong>Nom du médecin :</strong> <%= @doctor.first_name.capitalize %> <%= @doctor.last_name.capitalize %></p>
    <p><strong>Spécialité :</strong> <%= @doctor.specialty.capitalize %></p>
  </div>
  <div>
    <p><strong>Status :</strong> <%= @assignation.status.capitalize %></p>
    <%= link_to "Contacter", assignation_messages_path(@assignation), class: "btn-small" %>
  </div>
</div>

<div class="header-diagnostic">
  <h3>Détails patient</h3>
</div>
<div class="row p-3">
  <div class="col text-start"><strong>Nom du patient</strong></div>
  <div class="col text-end"><%= @patient.first_name.capitalize %></div>
  <div class="w-100"></div>
  <div class="col text-start"><strong>Date de naissance</strong></div>
  <div class="col text-end"><%= @patient.date_of_birth %></div>
  <div class="w-100"></div>
  <div class="col text-start"><strong>Genre</strong></div>
  <div class="col text-end"><%= @patient.gender %></div>
  <div class="w-100"></div>
  <div class="col text-start"><strong>Numéro de téléphone</strong></div>
  <div class="col text-end"><%= @patient.phone_number %></div>
  <div class="w-100"></div>
  <div class="col text-start"><strong>Adresse</strong></div>
  <div class="col text-end"><%= @patient.address %></div>
</div>
<div class="header-diagnostic">
  <h3>Historique médical</h3>
</div>
<div class="card-diagnostic ">
  <h2>Diagnostic</h2>
  <p><%= @diagnostic.description %></p>
</div>
