 <div class="container2">
   <%= link_to assignations_path, class: "" do %>
      <%= image_tag("icon-chevron-left.svg") %>
   <% end %>
  <h3><%= @patient.name %></h3>
  <div></div>
</div>

<section class="cards-container">
  <div class="card custom-card-accepted">
    <div class="card-body">
      <div class="accepted-card">
        <div class="accepted-details">
          <h3>Dr. <%= @doctor.first_name.capitalize %> <%= @doctor.last_name.capitalize %></h3>
          <h6><%= @doctor.specialty.capitalize %></h6>
          <%# <h6><%= @doctor.address.capitalize %>
        </div>
        <p class="badge badge-success status-badge"><%= @assignation.status.capitalize %></p>
      </div>
      <%= link_to "Contacter", assignation_messages_path(@assignation), class: "fs-6 btn-small w-100" %>
    </div>
  </div>

  <div class="card patient-card-details">
    <div class="card-body">
      <div class="accepted-card">
        <div class="accepted-details">
          <div class="header-diagnostic">
            <h3>Détails patient</h3>
          </div>

          <div class="row p-3">
            <div class="col-12 text-start border-bottom pb-2 mb-2">
              <p class="fw-bold"><%= @patient.first_name.capitalize %> <%= @patient.last_name.capitalize %></p>
            </div>
            <div class="col-12 text-start border-bottom pb-2 mb-2">
              <p><%= @patient.date_of_birth %></p>
            </div>
            <div class="col-12 text-start border-bottom pb-2 mb-2">
              <p><%= @patient.gender %></p>
            </div>
            <div class="col-12 text-start border-bottom pb-2 mb-2">
              <p>+ <%= @patient.phone_number %></p>
            </div>
            <div class="col-12 text-start border-bottom pb-2">
              <p><%= @patient.address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card patient-card-historique">
    <div class="card-body">
      <div class="historique-details">
        <div class="header-diagnostic">
         <h3>Diagnostic</h3>
        </div>
          <p class= "p-3"><%= @diagnostic.description %></p>
      </div>
    </div>
  </div>
</section>
